<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhang.springboot.mapper.SysQuestionMapper">

    <resultMap id="BaseMap" type="com.xiaozhang.springboot.domain.SysQuestion">
        <id column="id" property="id"/>
        <id column="title" property="title"/>
        <id column="type" property="type"/>
        <id column="score" property="score"/>
        <id column="sort" property="sort"/>
        <id column="answer_id" property="answerId"/>
        <id column="exam_id" property="examId"/>
    </resultMap>

    <resultMap id="withItem" type="com.xiaozhang.springboot.domain.SysQuestion" extends="BaseMap">
        <collection property="items" ofType="com.xiaozhang.springboot.domain.SysQuestionItem"
                    select="com.xiaozhang.springboot.mapper.SysQuestionItemMapper.selectItem" column="id"/>
    </resultMap>
    <select id="selectQuestion" resultMap="withItem">
        select *
        from sys_question
        where exam_id=#{id}
    </select>
</mapper>
