<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhang.springboot.mapper.SysUserDeptMapper">

    <select id="getUserDeptInfo" resultType="com.xiaozhang.springboot.domain.SysDept">
        SELECT id,
               dept_name
        FROM sys_dept
        WHERE is_deleted = 0
          AND (
            id IN (SELECT dept_id FROM sys_user_dept WHERE user_id = #{userId}))
        LIMIT 1
    </select>


    <select id="getDeptInfo" resultType="com.xiaozhang.springboot.domain.SysUser">
        SELECT id,
               username,
               phone_num,
               avatar
        FROM sys_user
        WHERE is_deleted = 0
          AND (
            id IN (SELECT user_id FROM sys_user_dept WHERE dept_id = #{deptId}))
    </select>
</mapper>
