<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhang.springboot.mapper.SysUserMapper">

    <!--    获取所有菜单id-->
    <select id="getNavMenuIds" resultType="java.lang.String">
        SELECT DISTINCT rm.menu_id
        FROM sys_user_role ur
                 LEFT JOIN sys_role_menu rm ON ur.role_id = rm.role_id

        WHERE ur.user_id = #{userId}
    </select>

    <!--    获取所有的角色-->
    <select id="getRoleList" resultType="com.xiaozhang.springboot.domain.SysRole">
        SELECT id,
               role_name,
               role_code
        FROM sys_role
        WHERE is_deleted = 0
          AND (
            id IN (SELECT role_id FROM sys_user_role WHERE user_id = #{userId}))
    </select>

    <select id="selectDeptUser" resultType="com.xiaozhang.springboot.domain.SysCheck">
    SELECT SUM(over_time+add_time) as totalTime,user_id
    FROM sys_check
    WHERE user_id IN
          (SELECT id
           FROM sys_user u
           WHERE u.dept_id=#{deptId})
    GROUP BY user_id
    ORDER BY totalTime DESC
    </select>
</mapper>
