<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" name="XIncludeDemo"
               monitorInterval="30" packages="com.sitech.csd.cmap.log4j2.test">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level [%logger{36}] - %msg%n"/>
        </Console>
    </appenders>

    <loggers>
        <logger name="org.springframework" level="INFO"></logger>
        <logger name="org.mybatis" level="INFO"></logger>
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>
